{% extends 'base.html' %}

{% block content %}

<div class="container text-center" style="margin-top: 10%;">
    <h1>Edit the ride</h1>
    <p>Thank you for choosing us! Let's change some info about your trip...</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <a type="button" href="/overview/owner_rides" class="btn btn-primary">Back to Owner Rides</a>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    {% include 'form_errors.html' %}
</div>
{% endblock %}