<div class="row">
    <div class="col-sm-6" align="center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">New Rides</h5>
                <p class="card-text">We have the best drivers with many types of vehicles. You will have a great ride with Duber!</p>
                <a href="/overview/request_ride" class="btn btn-primary">Request a new Ride</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" align="center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Your Rides</h5>
                <p class="card-text">Thank you for choosing us. You can view all of your existing rides here
                    conveniently.</p>
                <a href="/overview/owner_rides" class="btn btn-primary">View Your Rides</a>
            </div>
        </div>
    </div>
</div>