<div class="row">
    <div class="col-sm-6" align="center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Taylored Searches</h5>
                <p class="card-text">We have an advanced searching system for you to find the perfect ride.</p>
                <a href="/overview/sharer_search" class="btn btn-primary">Search for a Ride</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" align="center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Your Rides</h5>
                <p class="card-text">Thank you for choosing us. You can view all of your shared rides here
                    conveniently.</p>
                <a href="/overview/sharer_rides" class="btn btn-primary">View Your Rides</a>
            </div>
        </div>
    </div>
</div>